{% extends "NLKMyMoneyBundle::layout.html.twig" %}

{% block titre %}
  <h2>Ajouter une rentrée quotidienne</h2>
{% endblock %}

{% block nlkmymoney_body %}

  {{form(formRentreeQuotidienne)}}
  
{% endblock %}
