{% extends "NLKMyMoneyBundle::layout.html.twig" %}

{% block titre %}
  <h2>Modifier une dépense ammortie</h2>
{% endblock %}

{% block nlkmymoney_body %}

  {{form(formDepenseAmmortie)}}
  
{% endblock %}
