{% extends "NLKMyMoneyBundle::layout.html.twig" %}

{% block titre %}
  <h2>Dupliquer une dépense quotidienne</h2>
{% endblock %}

{% block nlkmymoney_body %}

  {{form(formDepenseQuotidienne)}}
  
{% endblock %}
