{% extends "NLKMyMoneyBundle::layout.html.twig" %}

{% block titre %}
  <h2>Ajouter une dépense mensuelle</h2>
{% endblock %}

{% block nlkmymoney_body %}

  {{form(formDepenseMensuelle)}}
  
{% endblock %}
