{% extends "NLKMyMoneyBundle::layout.html.twig" %}

{% block titre %}
  <h2>Dupliquer une rentrée mensuelle</h2>
{% endblock %}

{% block nlkmymoney_body %}

  {{form(formRentreeMensuelle)}}
  
{% endblock %}
